
html {
  font-family: sans-serif;
}

/* this is the artist button */
.artist-container {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 9px;
  background: #e9ebf7;
  margin-bottom: 8px;
  cursor: pointer;
}

.artist-container:hover {
  background: #afb5bd
}

.artist-name {
  font-size: 10px;
}

.column {
  flex: 50%;
}

.row {
  display: flex;
}

.right-half {
  text-align: center;
}

.right-half img {
  max-width: 300px;
  max-height: 300px;
}

.header {
  text-align: center;
}
